* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url('../img/moroccan-flower.png');
    background-color: gray;
    font-family: 'OpenSans';
    padding-top: 30px;
}
.clearfix {
    clear: both;
}
.block-align-left {
    float: left;
}
.block-align-right {
    float: right;
}
.container {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.header {
    position: relative;
}
.logo-wrapper {
    position: relative;
    display: inline-block;
}
.logo {
    background-color: #ff4385;
    color: #ffff;
    display: inline-block;
    padding: 5px 9px;
    border-radius: 4px;
    font-size: 35px;
}
.logo-desc {
    position: absolute;
    width: 100px;
    left: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
}
.abs-align-ver {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.menu > .menu-item {
    color: #000000;
    font-weight: bold;
    padding: 5px 15px;
}
.menu > .menu-item.active {
    background-color: #000000;
    color: white;
    border-radius: 5px;
}
.poster {
    padding: 36px;
    background-color: #fff;
}
.poster-block-left, .poster-block-right {
    width: 50%;
}
.button {
    display: inline-block;
    background-color: #0090c5;
    color: #fff;
    position: relative;
    padding: 7px 7px;
    padding-right: 104px;
    border-radius: 3px;
    font-weight: bold;
    margin: 3px;
}
   .button_color{
       background: rgb(223, 217, 217);
       color: black;
}
.icon{
    position: absolute;
    right: 6px;
    color: black;
    font-size: 10px;
}
.poster-button-icon {
     right: 16px;
}
.two{
     display: flex;
     justify-content: center;
     flex-direction: row;
     align-items: center;
}
.block{
     display: flex;
     flex-direction: column;
     border: 1px solid white;
     height: 550px;
     width: 27%;
     margin: 15px;
     background: white;
}
.img{
     width: 100%;
     height: 300px;
}
.bold{
    font-weight: bold;
}
.text{
   display: inline-block;
    margin: 10px;
}
.block_3{
    position: relative;
    padding: 20px;
    display: flex;
    width: 100%;
    background: white;
    height: 400px;
}
.images_4{
    width: 40%;
    margin-left: 100px;
}
.pictures-four{
    border-radius: 7px;
    width: 130px;
    height: 80px;
    margin: 6px;
}
.margin-top{
    margin-top: 50px;
}
.icon_mew{
    left: 6px;
}
.button_new{
     padding-left:40px;
}

.block_4{
    margin-left: 200px;
}
.nan_text{
     width: 70%;
     display: flex;
     flex-direction: column;
}
.text_ret{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.text_next{
    margin-top: 30px;
}
.icon_margin{
    margin-top: 75px;
}